In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

C:\Users\Alex\AppData\Local\Temp\ipykernel_14684\1654069430.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
#Целью данного исследования является создание модели, которая будет прогнозировать, останется ли сотрудник в компании или покинет ее, основываясь на некоторых его характеристиках (особенностях). 
#Характеристики приведены в Кодовой книге.
#Поскольку переменная ответа представляет собой дихотомическую категориальную переменную, для прогнозирования результата будут использоваться три модели: линейный дискриминантный анализ (LDA), логистическая регрессия и случайный лесной классификатор, а затем будет сравниваться производительность этих моделей.

In [3]:
#satisfaction_level - Employee satisfaction level
#Last_evaluation - Last evaluation score
#number_projects - Number of projects assigned to
#average_monthly_hours - Average monthly hours worked
#time_spend_company - Time spent at the company
#work_accident - Whether they have had a work accident
#left - Whether or not employee left company
#promotion_last_5years - Whether they have had a promotion in the last 5 years
#department - Department name
#salary - Salary category

In [4]:
df = pd.read_csv('HR.csv')

In [5]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   department             14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [7]:
#пропущенные значения в стоблцах
np.round(df.isna().sum()/len(df),2)

satisfaction_level       0.0
last_evaluation          0.0
number_project           0.0
average_montly_hours     0.0
time_spend_company       0.0
Work_accident            0.0
left                     0.0
promotion_last_5years    0.0
department               0.0
salary                   0.0
dtype: float64